%h1 Listing clients

%table
  %thead
    %tr
      %th Name
      %th Photo
      %th
      %th
      %th

  %tbody
    - @clients.each do |client|
      %tr
        %td= client.name
        %td= client.photo
        %td= link_to 'Show', client
%br
