.container-fluid{class: "admin-homepage"}
  .container-fluid
    .col-lg-6
      .container-fluid{class: "services-dash"}
        .container-fluid{id: "servicc"}
          = render 'admin/services/service'
        = link_to "New Service", new_admin_service_path, id: 'newserv', remote: true, class: "btn btn-success"
    .col-lg-6
      .container-fluid{id: "service_form"}