.container-fluid{class: "homepage"}
  .container-fluid{class: 'home-slider'}
  .container-fluid{class: 'services'}
    .page-header{class: "service-block"}
      %h2 Наші Послуги
    - @services.last(6).each do |s|
      .service
        = s.name
    .page-header{class: "clients-block"}
      %h2 Наші Клієнти
    - @clients.last(4).each do |c|
      .client
        = c.name