.container-fluid{class: "homepage"}
  .container-fluid{class: 'home-slider', :style => %(background:url("http://www.fastaanytimelock.com/wp-content/uploads/2014/05/Visuals-Lukoil-Office-Building-Projects-KCAP.jpg") no-repeat center; background-size: 100% auto)}
  .container-fluid{class: 'service-client'}
    .container-fluid{class: "services"}
      .page-header{class: "service-block"}
        %h3 Наші Послуги
      - @services.last(6).each do |s|
        .service
          .panel-heading
            = link_to s.name, s, {class: "btn btn-link btn-md"}
          .panel-body{class: "service-photo", :style => %(background:url("#{s.photo.url}") no-repeat center; background-size: 100% 300px)}
          .panel-body
    .container-fluid{class: "clients"}
      .page-header{class: "clients-block"}
        %h3 Наші Клієнти
      - @clients.last(4).each do |c|
        .client
          .container-fluid
            .panel-body{class: "client-photo"}
              = image_tag c.photo, width: '100%', height: '150px'
            .panel-body{class: "client-name"}
              %p= c.name