/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
body{
  padding-top: 10vh;
}
.main-nav{
  position: fixed;
  height: 10vh;
  width: 100%;
  background-color: #ffffff;
  padding: 0px !important;
  box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
  z-index: 1;
}
.hello{
  position: absolute;
  background-color: #f7fffc;
  opacity: 0.95;
  height: 95vh;
  display: none;
  width: 100vw;
  z-index: 2;
  padding: 5% 0px 0px 0px;
}
.homepage{
  height: 95vh;
  padding: 10vh 0px 0px 0px;
}
.home-slider{
  height: 85vh;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-footer{
  min-height: 40vh;
  height: auto;
  background-color: whitesmoke;
  box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
}
.nav-items{
  height: 10vh;
  overflow: hidden;
}
.nav-items tr{
  height: 10vh;
}
.nav-items:hover{
  padding-bottom: 0px;
}
.nav-items td{
  height: 100%;
  transition: background-color 300ms;
}
.nav-items td:hover {
  background-color: #eaeaea;
}
.nav-icons{
  height: 10vh;
}
.nav-icons tr{
  height: 10vh;
}
.nav-icons td{
  height: 10vh;
  transition: background-color 300ms;
}
.nav-icons td:hover {
  background-color: #eaeaea;
}
.content-area{
  min-height: 90vh;
  height: auto;
  padding-left:  0px;
  padding-right: 0px;
}
.slogan{
  height: 100%;
  padding: 5px;
  text-align: center;
}
.logot{
  width: 70%;
  padding: 0px !important;
  margin-left: 15%;
}
.first-nav{
  height: 10vh;
}
.footer-info{
  height: 5vh;
  padding-top: 1vh;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 1vh;
  line-height: 3vh;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(0,0,0, 0.5);
}
.footer-info ul{
  list-style: none;
  display: inline;
  margin: 0px;
  padding: 20px;
}
.footer-info li{
  display: inline;
  margin-left: 5px;
}
.homepage-contact{
  width: 100%;
}
.logo-footer{
  width: 60%;
  height: 60%;
  margin-left: 20%;
  margin-top: 10%;
}
.panel-foot{
  height: 100%;
}
.menu-column{
  height: 100%;
  overflow: hidden;
  padding-bottom: 30px;
}
.navbar-admin{
  height: 10vh;
  padding: 2vh;
}
.in_progress{
  width: 100vw;
  height: 100vh;
  background-color: #0aab5c;
  text-align: center;
  color: white;
  padding-top: 30%;
}
.hello .col-lg-4{
  height: 60vh;
  padding: 0px;
}
.logoslogan{
  width: 100%;
  height: 100%;
}
.hello .col-lg-8 h2{
  text-align: center;
  font-size: 4em;
  color: #404040;
  font-weight: 600;
  font-family: "Lucida Grande", "Lucida Sans", Helvetica, Arial, sans-serif;
}
.nav-items img{
  border-radius: 40px !important;
}
.nav-icons img{
  border-radius: 40px !important;
}
.slider-item1{
  width: 100%;
  height: 100%;
  padding-top: 7vh;
  display: inline-block;
}
.btn-locator{
  padding: 0px !important;
}
.nav-items .btn-link{
  height: 10vh;
  line-height: 5vh;
  padding-top: 2.5vh;
}
