!!!
%html
%head
%title Служба охорони Кобра
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
%body
  .container-fluid{class: "in_progress"}
    %h2 Мобильная версия находится в стадии разработки